/*Below is the styles for all the blocks*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: rgb(255, 255, 255);
}

header {
  padding: 20px;
}

.header_button {
  background-color: white;
}

.header_button > img {
  width: 23px;
  height: auto;
  padding-bottom: 25%;
}

header > img {
  width: 60px;
  height: auto;
  margin-left: 30%;
}

.promo_top > h3 {
  font-size: 28px;
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 300;
}

.promo_top > p {
  text-align: center;
  font-size: 55px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  letter-spacing: 5px;
}

.promo_top > span {
  font-size: 25px;
  font-family: "Montserrat", serif;
  font-weight: 600;
}

.little_B_thingy {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  padding-left: 30px;
}

.little_B_thingy > p {
  text-align: left;
  font-size: 55px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  letter-spacing: 5px;
}

.little_B_thingy > span {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  padding-top: 10px;
}

.promo_button_container {
  text-align: center;
  padding: 5%;
  padding-top: 5px;
}

.promo_button_container > button {
  background-color: black;
  padding: 15px;
  padding-inline: 40px;
}

.promo_button_container > button > p {
  font-size: 20px;
  font-family: "Montserrat", serif;
  color: white;
}

.promo_text > p {
  font-size: 15px;
  font-family: "Prata", serif;
  padding-inline: 10%;
  padding-bottom: 10px;
}

.promo_main > img {
  width: 375px;
  height: auto;
}

.promo_main > p {
  padding: 20px;
  font-family: "Prata", serif;
}

.braging_img > img {
  width: 375px;
  height: auto;
}

.braging_stats_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.braging_stats_block {
  padding: 15px;
}

.braging_stats_block > h2 {
  font-family: "Prata", serif;
}

.braging_stats_block > p {
  font-family: "Montserrat", serif;
  padding-inline: 20px;
}

.braging_stats_block > h2,
p {
  text-align: center;
}

.portfolio_title {
  padding-bottom: 5px;
}

.portfolio_title > p {
  font-size: 28px;
  font-family: "Montserrat", serif;
  font-weight: 200;
}

.portfolio_img > img {
  width: 375px;
  height: auto;
}

.review_box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.review_box_container > p {
  font-size: 28px;
  font-family: "Montserrat", serif;
  font-weight: 200;
  padding-top: 5px;
}

.review_block {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.review_top {
  display: grid;
  grid-template-columns: 0fr 1fr;
  padding-bottom: 10px;
}

.review_pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.review_pfp > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review_name_n_age > span,
strong {
  display: grid;
  grid-template-rows: auto;
  padding-top: 5px;
}

.review_name_n_age > strong {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 16px;
}

.review_name_n_age > span {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
}

.review_text > p {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
}

.pricing_box_container {
  padding: 15px;
  background-color: rgb(235, 235, 235);
}

.pricing_pre_img {
  height: 375px;
}

.pricing_pre_img > img {
  width: 375px;
  height: 375px;
}
/*DO NOT TOUCH BELOW!!! IT WORKS!!! */
.pricing_top > h1 {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 22px;
}

.pricing_top > p {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
}

.pricing_block {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  justify-content: center;
  background-color: white;
}
/*DO NOT TOUCH ABOVE!!! IT WORKS!!! */

.pricing_text {
  padding-top: 15px;
}

.pricing_text > p {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 22px;
}

.pricing_text > strong {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 18px;
}

.pricing_text > p,
strong {
  text-align: left;
}

.pricing_img > img {
  height: 60px;
  padding: 15px;
  padding-left: 30px;
  padding-top: 20px;
}

.footer_box_container {
  background-color: rgb(240, 240, 240);
}

.footer_box_container > p,
a {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(129, 129, 129);
}
